@import "tailwindcss";
body {
  margin: 0;
  background: #F5E7C6;
}

.main {
  height: 100vh;
  position: relative;
}

.box {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center; 
}

.car-wrap {
  position: relative;
  z-index: 2;        
}

.car-wrap img {
  display: block;
  height: 32.25rem;   
  z-index: 50;
  margin-bottom: 5%;   
}

.text {
  position: absolute;
  top: 50%;
display: flex;
justify-content: space-between;
text-align: center;
align-items: center;
  background: #8A244B;
  transform: translateY(-50%); 
  width: 95vw;
  height: 25%;
  font-size: 7rem;
  font-weight: bold;
  color: #021f23;
  z-index: -2;
padding-left: 1rem;
padding-right: 12rem;

  
}
.road {
    margin-left: 55%;
   
    width: 100vw;
     position:absolute;
  height:11.50rem;
    background: #3A8B95;
    z-index: -50;
}



.container {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 100;
 right: 12.5rem;
    pointer-events: none;
}


.top,.bottom {
    position: fixed;
    top: 30px;
    width: 100%;    
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
     font-size: 1rem;
    position:end;
    padding: 0 3.125rem;
    box-sizing: border-box; 
   
    z-index: 100;
  
}
.top {
    top: 1.875rem;
}



.bottom {
    bottom: 1.875rem;
    top: auto; 
}

.doha1, .doha2, .doha3, .doha4 {
    font-size: 1rem;
    font-weight: bold;
  
    color: #fff;
   background: #6367FF;
   padding: 2rem;
   margin: 2rem;
   display: flex;
    justify-content: flex-end;
    flex-direction: column;
    border-radius: 1rem;
    opacity: 0;
}
.doha1 { 
    background: #FFEB3B; 
    color: #333;       
}

.doha2 { 
    background: #2196F3;
    color: #FFFFFF;   
}

.doha3 { 
    background: #FF5722;
    color: #FFF;      
}

.doha4 { 
    background: #E91E63;
    color: #FFFF00;    
}

.span {
    font-size: 3rem;
    display: block; 
    font-weight: 900;
    
}



.span { color: #1c1c1c; } 


.span{
    font-size: 4rem;
    color: #2b0317;
}